


<html>

<form class="mx-1 mx-md-4">
      
  <div class="input-group mb-3">
    <span class="input-group-text">Name:</span>
    <input type="text" class="form-control" id="client_name_modal_field" aria-label="name" >
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text" >Cellphone:</span>
    <input type="text" class="form-control" id="client_cellphone_modal_field" aria-label="name" >
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text">Email:</span>
    <input type="text" class="form-control" id="client_email_modal_field" aria-label="name" >
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text" >Address:</span>
  </div>
  <div class="input-group mb-3">
    <textarea  class="form-control form-control-lg" id="client_address_modal_field"
                        placeholder="Optional"></textarea>
  </div>

</form>
    
</html>

<script>
    
</script>