


<html>

<form class="mx-1 mx-md-4">
      
    <div class="input-group mb-3">
        <span class="input-group-text" id="client_name_modal_field">Name:</span>
        <input type="text" class="form-control" placeholder="Client name" aria-label="name" aria-describedby="client_name_modal_field">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="client_name_modal_field">Cellphone:</span>
        <input type="text" class="form-control" placeholder="Client name" aria-label="name" aria-describedby="client_name_modal_field">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="client_name_modal_field">Email:</span>
        <input type="text" class="form-control" placeholder="Client name" aria-label="name" aria-describedby="client_name_modal_field">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="client_name_modal_field">Address:</span>
      </div>
      <div class="input-group mb-3">
        <textarea  class="form-control form-control-lg" id="order_description_field"
                            placeholder="Optional"></textarea>
      </div>

    </div>

    
</html>

<script>
    
</script>