{% load static %}
{% load cache_bust %}
<!DOCTYPE html>
<html lang="es">

    <Head>
        <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>


     <!--Import jQuery before export.js-->
     <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>


     <!--Data Table-->
     <script type="text/javascript"  src=" https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
     <script type="text/javascript"  src=" https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
 
     <!--Export table buttons-->
     <script type="text/javascript"  src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
     <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.24/build/pdfmake.min.js" ></script>
     <script type="text/javascript"  src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.24/build/vfs_fonts.js"></script>
     <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.html5.min.js"></script>
     <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.print.min.js"></script>

     <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/searchpanes/1.1.0/css/searchPanes.bootstrap4.min.css"/>

     <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.3/css/dataTables.bootstrap5.min.css"/>

    
    <script type="text/javascript" src="https://cdn.datatables.net/searchpanes/1.1.0/js/dataTables.searchPanes.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/searchpanes/1.1.0/js/searchPanes.bootstrap4.min.js"></script>
 

    <link rel="stylesheet" href="{% static 'css/Example.css' %} ?{% cache_bust %}">
    </Head>



<body>

  <header>
    {% include 'header_bar.html' with server=server %}
  </header>

    <section>
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
              <div class="card" id="list1" style="border-radius: .75rem; background-color: #eff1f2;">
                <div class="card-body py-4 px-4 px-md-5">

                    <p class="h2 text-center mt-3 mb-4 pb-3 text-primary">
                        <i class="fas fa-check-square me-1"></i>
                        <u>Add order </u>
                      </p>
                      {{company_process}}
                      {{company_clients}}
                    <div class="pb-2">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column">
                                <label for="client_name_field" class="form-label form-control-lg">Client:</label>
                                <fieldset disabled>
                                <input type="text" class="form-control form-control-lg" id="client_name_field"  placeholder="Select client to display name">
                                </fieldset>

                                <div class="d-flex flex-row">
                                    <button type="button" class="btn mt-3 ms-3 btn-primary" id="submit_buttom">Open client list</button>
                                    <button type="button" class="btn ms-3 mt-3 btn-info" id="submit_buttom">Add new client</button>
                                </div>

                                <label for="order_name_field" class="form-label form-control-lg mt-3">Select process:</label>
                                <select class="form-select" aria-label="Default select example">
                                  {% for process in company_process %}
                                    <option value="{{process.id}}">{{process.Process_Name}}</option>
                                  {% endfor %}
                                </select>
                                <div class="d-flex flex-row">
                                  <button type="button" class="btn ms-3 mt-3 btn-info" id="submit_buttom">Add new process</button>
                                </div>
                                <label for="order_description_field" class="form-label form-control-lg">Order description:</label>
                                <textarea  class="form-control form-control-lg" id="order_description_field"
                                placeholder="Optional"></textarea>
                            </div>
                        </div>
                    </div>
                    </div>

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Launch demo modal
                    </button>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add_client_modal">
                      Launch demo modal
                  </button>

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</body>





  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <table id="example" class="table table-striped nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Cellphone</th>
                        <th>Email</th>
                        <th>Select</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Shad Decker</td>
                        <td>Regional Director</td>
                        <td>Edinburgh</td>
                        <td>51</td>
                    </tr>
                    <tr>
                        <td>Michael Bruce</td>
                        <td>Javascript Developer</td>
                        <td>Singapore</td>
                        <td>29</td>
                    </tr>
                    <tr>
                        <td>Donna Snider</td>
                        <td>Customer Support</td>
                        <td>New York</td>
                        <td>27</td>
                    </tr>
                </tbody>
            </table>

            <div class="form-outline mb-3" style="width: 100%; max-width: 22rem">
              <input type="text" id="phone" class="form-control" data-mdb-input-mask="+48 999-999-999" />
              <label class="form-label" for="phone">Phone number with country code</label>
            </div>
        </div>
      </div>
    </div>
  </div>
  


    <!-- Modal -->
    <div class="modal fade" id="add_client_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" >Add new client</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            {% include 'add_client_modal.html' %}
          </div>
        </div>
      </div>
    </div>
    




<script>

    var user = "{{current_user}}"
    console.log(user)
    var process = "{{company_process}}"
    console.log(process)

    $(document).ready(function() {
        var table = $('#example').DataTable({
            searchPanes: false
        });
        table.searchPanes.container().prependTo(table.table().container());
        table.searchPanes.resizePanes();
        
    });
</script>



</html>







